@model BusinessLayer.FoodGroup

@{
    ViewBag.Title = "Edit Food Group";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>*@
        <legend>FoodGroup</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FoodGroupName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FoodGroupName)
            @Html.ValidationMessageFor(model => model.FoodGroupName)
        </div>

        @Html.HiddenFor(model => model.FoodGroupId)

        <p>
            <input type="submit" value="Save" />
        </p>
    @*</fieldset>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


