@model BusinessLayer.CustomerDetail

@{
    ViewBag.Title = "Change Profile";
}

<h2>@ ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*<fieldset>*@
       
        <ul data-role="listview" data-inset="false">

            
                 @Html.HiddenFor(model => model.CustomerDetailId)

                @*<div class="editor-label">
                @Html.LabelFor(model => model.Username)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Username)
                @Html.ValidationMessageFor(model => model.Username)
            </div>*@
                 <li><div class="editor-label">
                @Html.LabelFor(model => model.password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.password)
                @Html.ValidationMessageFor(model => model.password)
            </div></li>
                
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
                </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
                </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="editor-multiline-field">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
</li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.StateId)
                </div>
                <div class="editor-field">
                    @Html.DropDownList("StateId")
                    @Html.ValidationMessageFor(model => model.StateId)
                </div>
                </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Phone)
                    @Html.ValidationMessageFor(model => model.Phone)
                </div>
                </li>
            </ul>
                <p>
                    <input type="submit" value="Save" data-role="button" data-icon="grid" />
                </p>
@*</fieldset>*@
}

<div>
    @Html.ActionLink("Back to Store", "Index", "Home")
</div>

