@model IEnumerable<QuickySaleOnlineShopper.Models.FoodItem>

@{ Response.Redirect("~/Store/Index");}
 @*   @using QuickySaleOnlineShopper.Models;
    @model IEnumerable<QuickySaleOnlineShopper.Models.FoodGroup>



        @{
            ViewBag.Title = "CATEGORY (M)";
        }
        <h2>@ViewBag.Title</h2>

        <h3>ViewBag.Title</h3>


        <ul id="categories">
                @foreach (var genre in Model)
            {

                <li>@Html.ActionLink(genre.FoodGroupName, "Browse", new { id = genre.FoodGroupId })</li>

            }
        </ul>





@*
    @{
        ViewBag.Title = "QUICKY SALE";
        //var viewDataProduct = ViewData["MobileFoodGroup"] as List<FoodGroup>;

    }
    <h2>@ViewBag.Title</h2>
<h3>QS ONLINE FOOD SHOPPER</h3>
<b><small>Delivery in Abuja <br />This Site is Under Construction</small></b>
<h4><em>Browse Store</em></h4>
<ul data-role="listview">
    @foreach (FoodGroup genre in @Model)
    {
        <li>@Html.ActionLink(genre.FoodGroupName, "Browse", "Store", new { id = genre.FoodGroupId })</li>
        @*<li>@Html.ActionLink(genre.FoodGroupName, "Details", new { id = genre.FoodGroupId })</li>
    }
</ul>


@*
       @model List<QuickySaleOnlineShopper.Models.FoodItem>


        <ul data-role="listview" data-inset="false">

        @foreach (var food in Model)
        {
            <li data-role="list-divider">
                <a href="@Url.Action("Details", "Store",new { id = food.FoodItemId })">
                    <img alt="@food.AlternateText"
                         src="@Url.Content(food.FoodPicture)" />
                    <span>@food.FoodName  =N=@food.FoodCost</span>
                </a>
            </li>
        }
    </ul>*@