@*@model IEnumerable<BusinessLayer.StoreCart>*@
@model IEnumerable<QuickySaleOnlineShopper.Models.StoreCart>
@using QuickySaleOnlineShopper.Models;
@{
    ViewBag.Title = "Delivery ONLY to Abuja and its enirons for Now Please......";
}


<h3>@ViewBag.Title</h3>

<p>
    @Html.ActionLink("Click To Place Order", "ProceedToCheckOut", "CheckOut")
</p>
<table>
    <tr>
        <th>
            Item
        </th>
        <th>
            Price
        </th>
        <th>
            Qty
        </th>
        <th></th>
    </tr>
    @{ decimal TotalCount = 0;
     decimal TotalAmount = 0;
     decimal deliveryCost = 0;
     decimal TotalPaymentDue = 0;

     foreach (var item in Model)
     {
         using (Html.BeginForm())
         {
            <tr>
                <td>
                    @Html.ActionLink(item.FoodItems.FoodName, "Details", "Store", new { id = item.FoodItemId }, null)
                </td>
                <td>
                    @item.FoodItems.FoodCost
                </td>
                <td>
                    @item.Count
                </td>
                <td>
                    @Html.ActionLink("Inc", "Increase", new { increaseId = item.RecordId }) |
                    @Html.ActionLink("Dec", "Decrease", new { decreaseId = item.RecordId }) |
                    @Html.ActionLink("Remove", "Delete", new { deleteId = item.RecordId }) |
                    @*@Html.ActionLink("Delete", "Delete", new { deleteId = item.RecordId })*@
                    @*</td>*@
                    @*<td><input type="submit" value="Increase" formaction="@Url.Action("Increase", new { increaseId = item.RecordId })" /></td>
                        <td><input type="submit" value="Decrease" formaction="@Url.Action("Decrease", new { decreaseId = item.RecordId })" /></td>*@
                    @*<td><input type="submit" value="Remove"
                                   onclick="return confirm('Are you sure you want to Delete FoodItem = @item.FoodItems.FoodName')" />
                </td>*@
            </tr>
             TotalAmount = TotalAmount + (@item.FoodItems.FoodCost * @item.Count);
             TotalCount = TotalCount + @item.Count;             //@Html.ActionLink(item.FoodItems.FoodName, "Details", "Store", new { id = item.FoodItemId }, null)
             if (@TotalCount > 2)
                 // {
                 @deliveryCost = 2 * 500;
             // <td></td>
             //}
             else
                 //{
                 @deliveryCost = TotalCount * 500;
             //}

         }

     }
     TotalPaymentDue = TotalAmount + deliveryCost;

    <p>
        <b>Total Item Count: </b> @TotalCount <br />
        <b>Total Item Cost: =N=</b> @TotalAmount<br />
        <b>Delivery Cost is =N=@deliveryCost</b><br />
    </p>

        <p><b>Total Payment Due on Delivery =N=@TotalPaymentDue</b></p>
    }
</table>

<p>
    @Html.ActionLink("Back to Store", "Index", "Store")
</p>