@model IEnumerable<QuickySaleOnlineShopper.Models.FoodItem>

@using QuickySaleOnlineShopper.Models;
@using QuickySaleOnlineShopper.CustomHTMLHelpers
@helper Truncate(string
input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Browse";
}

<html>
<body>
    <p>
        @*@Html.ActionLink("Back", "Browse", new { id = @Model.First().FoodGroupId }, null)*@
        @Html.ActionLink("Back", "Index", "Store")
    </p>
    <div class="genre">
        <h3><em></em> Food Items</h3>

        <ul data-role="listview">
        @foreach (FoodItem food in @Model)
            {
                <li data-role ="list-divider">
                    <a href="@Url.Action("Details",new { id = food.FoodItemId })">
                        <img alt="@food.AlternateText"
                             src="@Url.Content(food.FoodPicture)" /><br />
                        <span>@food.FoodName =N=@Html.DisplayFor(model => food.FoodCost) <br />@Html.DisplayFor(model => food.FoodWeightType.FoodWeightTypeName) Sold By: @Truncate(@food.QSSellerDetail.SellerName, 15)  </span>
                    </a>

                    </li>
            }
</ul>
    </div>
    <p>
        @*@Html.ActionLink("Back", "Browse", new { id = @Model.First().FoodGroupId }, null)*@
        @Html.ActionLink("Back", "Index", "Store")
    </p>
</body>
</html>